<gis-nav>    
        <div class="container-fluid" ng-app="gis" ng-controller="AddFactoryController">
            <div class="row">
                <div class="col-md-11">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Add Factory</h4>
                            <p class="category">Add your factory</p>
                        </div>
                        <div class="card-content">
                            <form>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Company name</label>
                                            <input type="text" class="form-control" ng-model="factory.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Industry</label>
                                            <input type="text" class="form-control" ng-model="factory.industry">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Site</label>
                                            <input type="text" class="form-control" ng-model="factory.site">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Adress</label>
                                            <input type="text" class="form-control" ng-model="factory.adress">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Year of foundation</label>
                                                <input type="text" class="form-control" ng-model="factory.year">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <div class="form-group label-floating">
                                                <textarea class="form-control" rows="2" ng-model="factory.description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right" ng-click="addFactory()">Add Factory</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </gis-nav>