<gis-nav>
        <div class="container-fluid" ng-app="gis" ng-controller="FactoryListController">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10">
                            <div ng-repeat="fac in factory">
                                <div class="card card-stats">
                                    <div class="card-header col-md-3" style="border-radius:8px" data-background-color="purple">
                                        <img class="img" style="border-radius:8px" src="assets/images/factory.jpg" />
                                    </div>
                                    <div class="card-content col-md-6">
                                        <h3 style="text-align:left" class="title">{{fac.name}}</h3>
                                        <p style="text-align:left" class="category">{{fac.adress}}</p>
                                        <p style="text-align:left" class="category"><small>Овнован в {{fac.year}} году</small> </p>
                                    </div>
                                    <div class="card-button col-md-2">
                                        <br />
                                        <a href="#/addMaterial/{{fac.factiryId}}">
                                            <i class="material-icons">input</i>
                                        </a>
                                        <a href="#">
                                            <i class="material-icons">perm_media</i>
                                        </a>
                                        <a href="#">
                                            <i class="material-icons">library_books</i>
                                        </a>
                                        <a href="#/factoryMap/{{fac.factiryId}}">
                                            <i class="material-icons">room</i>
                                        </a>
                                    </div>
                                    <br />
                                    <div class="card-footer col-md-12">

                                        <p class="category"><strong>Отрасль:</strong> {{fac.industry}}</p>
                                        <p class="category"><strong>Сайт: </strong>{{fac.site}}</p>
                                        <p class="category"><strong>Описание: </strong> {{fac.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="purple">
                                    <i class="material-icons">info_outline</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Настройки</p>
                                    <br />
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <label>
                                            <input type="checkbox" ng-click="settingFactoryView()" ng-model="settingFactoryView.value2"> Показать все заводы
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</gis-nav>

