<gis-nav>
            <div class="container-fluid"ng-app="gis" ng-controller="HomeController">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="purple">
                                <i class="material-icons">content_copy</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Просмотры</p>
                                <h3 class="title">{{viewsCount}} </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i> Просмотры ваших заводов
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="purple">
                                <i class="material-icons">store</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Материалы</p>
                                <h3 class="title">{{materialCount}}<small> ед</small></h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i> Сумма всех ваших материалов
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="purple">
                                <i class="material-icons">info_outline</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Количество запросов</p>
                                <h3 class="title">0</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i> Предложения для продажи
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="purple">
                                <i class="material-icons">info_outline</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Количество запросов</p>
                                <h3 class="title">0</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i> Предложения для продажи
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-stats">                            
                            <div class="card-content">
                                <p style="text-align:center" class="category">Подобрать материалы </p>
                                <p style="text-align:center" class="category">{{minName}} </p>
                            </div>
                            <div class="card-footer">

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h4>Введите название материала</h4>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Введите название материала</label>
                                        <input type="text" class="form-control" ng-model="materialName">
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">    
                                    <h4>Выберите адрес доставки</h4>
                                    <div class="stats">
                                        <label>
                                            <input type="checkbox" ng-click="adressSetting()" ng-model="setting.value4"  > Выбрать адрес указанный в профиле
                                        </label>
                                        <br />
                                        <div class="form-group label-floating">
                                            <label class="control-label">Выберите адрес доставки</label>
                                            <input type="text" class="form-control" ng-model="inputAdress" ng-disabled="setting.value4" >
                                        </div>                                        
                                    </div>                                
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h4>Выберите один пункт</h4>
                                    <label>
                                        <input type="checkbox" ng-click="setting1()" ng-model="setting.value1"> Найти ближайшего производителя
                                    </label>
                                    <label>
                                        <input type="checkbox" ng-click="setting2()" ng-model="setting.value2"> Найти самый дешевый материал
                                    </label>
                                    <label>
                                        <input type="checkbox" ng-click="setting3()" ng-model="setting.value3"> Найти материал с учетом стоимости и расстояния (20 рублей за км)
                                    </label>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <button class="btn btn-sm btn-primary btn-block" type="submit" ng-click="showMaterial()">Найти материал</button> 
                                    <button class="btn btn-sm btn-primary btn-block" type="submit" ng-click="showFactory()">Показать завод производителя</button>
                                    <button class="btn btn-sm btn-primary btn-block" type="submit" ng-click="getDistance()">Показать путь до завода на карте</button>
                                    <button class="btn btn-sm btn-primary btn-block" type="submit" ng-click="">Сохранить шаблон</button>    
                                </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
</gis-nav>        
