<div class="login" ng-app="gis" ng-controller="RegController">
    <div class="form-signin">
        <div class="text-center">
            <img src="assets/images/logo.png" alt="Logo">
            <!--<img class="img" src="assets/images/navlogo.svg" />-->
        </div>
        <hr>
        <div class="tab-content">
            <div  class="tab-pane active">
                <form>
                    <p class="text-muted text-center">
                        Enter your username and password
                    </p>
                    <input type="text" placeholder="username" class="form-control top" >
                    <input type="email" placeholder="mail@domain.com" class="form-control middle" ng-model="email">
                    <input type="password" placeholder="password" class="form-control middle" ng-model="pass">
                    <input type="password" placeholder="re-password" class="form-control bottom" ng-model="confirmPass">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" href="#/login" ng-click="registration()">Register</button>
                </form>
            </div>
            <button class="btn btn-sm btn-primary btn-block" type="submit"  href="#/login" ng-click="login()">Sign in</button>            
        </div>
    </div>
</div>